* {
    margin: 0px;
    padding: 0px;
   color: black;
  }
  
  .container {
    margin: 0 auto;
    background-repeat: no-repeat;
    background-color: #ecdea1;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    margin-top: 30px;
    padding-bottom: 20px;
    padding-top: 20px;
    width: 50%;
    border-radius: 25px;
    border: 2px solid hsl(0, 100%, 99%);
  }
  
  .head {
    background-color:white;
    height: 70px;
    margin: auto;
    border-radius: 50px;
    color:rgb(243, 214, 179);
    height: auto;
    width: 50%;
  } 
  
  .footer{
    background-color:white;
    height: 70px;
    border-radius: 50px;
    margin: auto; 
    /* margin-bottom: 90px;  */
    color:rgb(233, 215, 193);
    height: auto;
    width: 50%;
  } 
  
  #main {
    /* background-color: rgba(247, 111, 111, 0.904) !important; */
    margin: 0 auto;
    padding-bottom: 15px;
    margin-top: 10px;
    padding-top: 20px;
    border-radius: 25px;
    border: 1px;
  }
  
  input {
    /* padding-top: 30px; */
    
    margin-top: 30px;
    text-align: left;
    margin: 10px;
    border-radius: 25px;
    height: 35px;
    padding-left: 20px;
    margin-right: 20px;
    width: 50%;
    color: rgb(240, 211, 176);
    background-color:whitesmoke;
    text-align: center;
  }
  
  select {
    text-align: left;
    margin: 10px;
    border-radius: 25px;
    height: 40px;
    padding-left: 20px;
    margin-right: 20px;
    width: 50%;
    color: black;
    background-color:whitesmoke;
    text-align: center;
  }
  
  button {
    margin: 0 auto;
    text-align: center;
    margin: 10px;
    border-radius: 25px;
    height: 40px;
    width: 50%;
    color: black;
    background-color:whitesmoke;
    text-align: center;
  }
  
  li {
    list-style: none;
    text-align: left;
    border-radius: 25px;
    height: 40px;
    width: 73%;
    color: rgb(5, 3, 0);
    background-color:whitesmoke;
    text-align: center;
    margin-left: 10%;
    padding-bottom: 0p;
  }
  
  table {
    margin-top: 30px;
    margin: 10px;
    height: 35px;
    padding-left: 20px;
    width: 50%;
    color: bisque;
    color:grey;
    text-align: center;
     
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 10px !important;
  }
  